body {
  font-size: 16px;
  color: black;
  background-color: #fff;
  font-family: 'Raleway', sans-serif;

}

/* header, main-content and footer containers */
.container {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER */
#header-nav {
  background-image: url("../css/images/peaceful-life-of-a-girl-org copy.jpg");
  background-repeat: no-repeat;
  border-radius: 0;
  border: 0;
  height: 500px;
}

#header-nav-about {
  /* background-image: url("../css/images/counselor-listens-to-client.jpg");
  background-repeat: no-repeat; */
  background-color: rgba(65, 67, 73, 0.856);
  border-radius: 0;
  border: 0;
  height: auto;
}




#nav-brand {
  
  padding-left: 0px;
  font-size: 1.3em;
  text-transform: uppercase;
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
  margin-left: 0px;
}
#nav-list {
  margin-right: -30px;
}
#nav-list a {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 1.3em;
}
#nav-list a:hover {
  color: #fff;
  text-shadow: 1px 1px 1px white;
}
#nav-list li.nav-item.active a {
  background-color: transparent;
  color: #fff;
  text-shadow: 1px 1px 1px white;
}

.navbar-toggle {
  border: transparent;
  margin-right: 5px;
  
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

#banner p {
  color: rgb(189, 184, 184);
  text-align: center;
  margin-top: 120px;
  font-size: 1.2em;
}

/* main content */
#profile-pic {
  position: relative;
  /* float: right; */
  max-width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.container h1 {
  font-weight: 800;
  margin-bottom: 30px;
}

.section>div>p:last-child {
  margin-bottom: 50px;
}

.container h2 {
  margin-bottom: 30px;
  color: rgb(110, 108, 108);
  font-size: 1.3em;
}

.section {
  margin-bottom: 60px;
}
#hours, #address, #contact {
  line-height: 1.8;
  font-weight: 100;
  padding-bottom: 40px;
  /* font-family: sans-serif; */
}
#hours > span, #address > span, #contact > span{
  font-size: 1.2em;
  /* text-decoration: underline; */
}

p {
  margin-bottom: 20px;
} 

#footer {
  background-color: rgb(185, 183, 183);
  margin-top: 30px;
  padding-top: 20px;
}

div.credits {
  padding-top: 30px;
}
.credits ul {
  list-style-type: none;
  text-align: center;
  font-size: 0.8em;
  padding: 0px;
  
}
.credits a {
  color: inherit;
}
hr {
  border-top: 1px solid rgb(206, 202, 202);
  margin-top: 30px;
  margin-bottom: 30px;
}
.row {
  text-align: center;
}


/********************** Media Queries **************************/

/********** Large devices only **********/
@media (min-width: 1200px) {
  

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-default .navbar-nav>.active>a {
    background-color: rgb(163, 159, 163);
    margin-left: -15px;
    padding-left: 30px;
    margin-right: 15px;
  }
  
  #nav-list>.active>a:hover {
    text-shadow: none;
    background-color: rgb(163, 159, 163);
  }
  
 .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        overflow: hidden !important;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-collapse *[class*='navbar-'] {
        float: none!important;
        /* margin: 7.5px -15px; */
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* #profile-pic {
      max-width: 100%;
      height: auto;
    } */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .container {
    margin-left: 30px;
    margin-right: 30px;
  }
  #nav-brand {
    padding-left: 15px;
  }
  #banner p {
    font-size: 1em;
  }
  hr {
    width: 70%
  }
  .row {
    text-align: center;
  }
  #profile-pic {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  iframe {
    width: 400px;
    height: 380px;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* #banner p {
    font-size: 0.5em;
  } */
  #nav-brand.navbar-brand {
    width: 200px;
    height: 70px;
  }
 
  .container h1 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .container h2 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  iframe {
    width: 300px;
    height: 280px;
  }
}
